<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Edit your recipe image</h1>
    <span>Recipe Name: <span><%=`${recipeName}`%></span></span>
    <br>
    <span>Recipe Catagory: <%=`${recipeCatagory}`%></span>
    <br>
    <span>Recipe: <%=`${recipe}`%></span>

  <br><br><br><br>

  <ul>
    <div class="col-12 card-img">
      <img src="/uploads/images/<%= todos.img %>" class="card-img" alt="...">
    </div>      
  </ul>

  <form action=<%=`/edit/editImage/${todos._id}`%> method="POST" enctype="multipart/form-data">
    <label for="image">Edit image</label>
    <input type="file" name="image" id="inputImage">
      &nbsp;&nbsp;&nbsp;

    
    <button id="editedFile">Submit File</button>
  </form>

</body>

</html>
