<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Recipe Name" name='todoItem'>
        <input type="text" placeholder="Ingredients">
        <input type="text" placeholder="Instructions">
        <input type="text" placeholder="Backstory(Please Make Long)">
        <input type="submit">
            <label for="category">Category</label>
            <select name="categories" id="cat">
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
            </select>
            <input type="submit" value="Submit" />
      </form>
    </form>

   

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>


</body>
</html>